<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo外卖管理端</title>
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
</head>
<body>
<div class="addBrand-container" id="member-edit-app">
    <div class="container">
        <el-form ref="editForm" :model="editForm" :rules="editRules" :inline="false" label-width="180px" class="demo-ruleForm">
            <el-form-item label="账号:" prop="username">
                <el-input v-model="editForm.username" placeholder="请输入账号" maxlength="20"></el-input>
            </el-form-item>
            <el-form-item label="密码:" prop="password">
                <el-input v-model="editForm.password" placeholder="请输入密码" maxlength="20" show-password></el-input>
            </el-form-item>
            <el-form-item label="确认密码:" prop="validPassword">
                <el-input  v-model="editForm.validPassword" placeholder="请再次输入密码" maxlength="20" show-password></el-input>
            </el-form-item>
            <div class="subBox address">
                <el-form-item>
                    <el-button @click="goBack()">
                        取消
                    </el-button>
                    <el-button type="primary" @click="submitForm('editForm',false)">
                        保存
                    </el-button>
                </el-form-item>
            </div>
        </el-form>
    </div>
</div>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/employee.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script>
    new Vue({
        el: '#member-edit-app',
        data() {
            return {
                id: '',
                editForm: {
                    id: '',
                    username: '',
                    password: '',
                    validPassword: ''
                }
            }
        },
        computed: {
            editRules() {
                const validateValidPassword = (rule, value, callback) => {
                    if (value.length < 6) {
                        callback(new Error('确认密码必须在6位以上'))
                    } else if (value !== this.editForm.password) {
                        callback(new Error('两次输入的密码不一致'))
                    } else {
                        callback()
                    }
                }
                return {
                    password: [{required: true, validator: validatePassword, trigger: 'blur'}],
                    validPassword: [{required: true, validator: validateValidPassword, trigger: 'blur'}]
                }
            }
        },
        created() {
            this.id = requestUrlParam('id')
            this.init()
        },
        methods: {
            async init() {
                const params = {
                    id: this.id
                }
                await getEmployeeById(params).then(res => {
                    if (res.code === 1) {
                        this.editForm = res.data
                        this.editForm.password = ''
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                })
            },
            submitForm(formName, st) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        const params = {
                            ...this.editForm
                        }
                        delete params.validPassword
                        editEmployee(params).then(res => {
                            if (res.code === 1) {
                                this.$message.success('密码修改成功!')
                                this.goBack()
                            } else {
                                this.$message.error(res.msg || '操作失败')
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })

                    } else {
                        console.log('error submit!!')
                        return false
                    }
                })
            },
            goBack() {
                window.parent.menuHandle({
                    id: '2',
                    url: '/backend/page/employee/list.html',
                    name: '员工管理'
                }, false)
            }
        }
    })
</script>
</body>
</html>