<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>Echo藏宝图</title>
    <link rel="icon" href="./../images/favico.ico">
    <script src="./../js/base.js"></script>
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <link rel="stylesheet" href="../styles/index.css"/>
    <link rel="stylesheet" href="./../styles/edit-password.css"/>
</head>
<body>
<div id="edit-password" v-loading="editPasswordFlag">
    <div class="divHead">忘记密码</div>
    <div class="divContainer">
        <el-form ref="ruleForm" :model="ruleForm" :rules="editPasswordRules">
            <el-form-item prop="phone">
                <el-input v-model="ruleForm.phone" placeholder="请输入手机号" maxlength="20"></el-input>
            </el-form-item>
            <div class="divSplit"></div>

            <el-form-item prop="code">
                <el-input placeholder=" 请输入验证码" v-model="ruleForm.code" maxlength='20'></el-input>
            </el-form-item>
            <span @click="getCode">获取验证码</span>
            <div class="divSplit"></div>

            <el-form-item prop="password">
                <el-input placeholder=" 请输入密码" v-model="ruleForm.password" maxlength='20' show-password></el-input>
            </el-form-item>
            <div class="divSplit"></div>

            <el-form-item prop="validPassword">
                <el-input placeholder=" 请再次输入密码" v-model="ruleForm.validPassword" maxlength='20'
                          show-password></el-input>
            </el-form-item>
            <div class="divSplit"></div>
        </el-form>
    </div>

    <el-button type="primary" :class="{btnSubmit:1===1,btnNoPhone:!ruleForm.phone,btnPhone:ruleForm.phone}"
               @click="editPassword">
        保存
    </el-button>
    <el-button type="primary" :class="{btnSubmit:1===1,btnNoPhone:!ruleForm.phone,btnPhone:ruleForm.phone}"
               @click="goBack">
        取消
    </el-button>
</div>
<script src="../../backend/plugins/vue/vue.js"></script>
<script src="../../backend/plugins/element-ui/index.js"></script>
<script src="./../js/vant.min.js"></script>
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="./../js/request.js"></script>
<script src="../api/user.js"></script>
<script src="../js/validate.js"></script>
</body>
<script>
    new Vue({
        el: "#edit-password",
        data() {
            return {
                ruleForm: {
                    phone: '',
                    code: '',
                    password: '',
                    validPassword: ''
                },
                editPasswordFlag: false
            }
        },
        computed: {
            editPasswordRules() {
                const validateValidPassword = (rule, value, callback) => {
                    if (value.length < 6) {
                        callback(new Error('确认密码必须在6位以上'))
                    } else if (value !== this.ruleForm.password) {
                        callback(new Error('两次输入的密码不一致'))
                    } else {
                        callback()
                    }
                }
                return {
                    phone: [{required: true, validator: validatePhone, trigger: 'blur'}],
                    password: [{required: true, validator: validatePassword, trigger: 'blur'}],
                    validPassword: [{required: true, validator: validateValidPassword, trigger: 'blur'}]
                }
            }
        },
        methods: {
            getCode() {
                this.ruleForm.code = ''
                const params = {
                    phone: this.ruleForm.phone
                }
                sendMsgApi(params).then(res => {
                    if (res.code === 1) {
                        this.$message.success('发送成功!')
                    } else {
                        this.$message.error(res.msg)
                    }
                })
            },
            async editPassword() {
                if (this.ruleForm.phone && this.ruleForm.password) {
                    this.editPasswordFlag = true
                    delete this.ruleForm.validPassword
                    const res = await editPasswordApi(this.ruleForm)
                    this.editPasswordFlag = false
                    if (res.code === 1) {
                        window.requestAnimationFrame(() => {
                            window.location.href = '/front/page/login.html'
                        })
                    } else {
                        this.$notify({type: 'warning', message: res.msg});
                        this.ruleForm.password = ''
                        this.ruleForm.validPassword = ''
                    }
                } else {
                    this.$notify({type: 'warning', message: '请输入手机号码'});
                }
            },
            goBack() {
                window.location.href = '/front/page/login.html'
            }
        }
    })
</script>
</html>